
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  /*background-color: #eee;*/
  position: fixed;
  z-index: 200;
  line-height: 5.428571;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: rgba(255,255,255, .1);
  border-radius: .012em;
  border-color: rgba(255,255,255, .8)
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  /*background-repeat: repeat-x; /* Repeat the gradient */
}

.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  background-color: rgba(255,255,255, .2);
}
.nav-justified > li:first-child > a {
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    max-height: 52px;
  }
  .nav-justified > li > a {
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    /*border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;*/
  }
  .nav-justified > li:first-child > a {
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    padding-right: 0;
    padding-left: 0;
  }
}
