* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  text-align: center;
  font-size: 4em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1%;
  margin: 20% 0;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 1%;
  margin: 0;
}

/*start parallax*/

.parallax {
  background: url("../img/woman-face-portrait-hood-37834.jpeg") fixed 100%;
}

.parallax-inner {
  padding-top: 25%;
  padding-bottom: 25%;
  padding-left: 30%;
  padding-right: 10%;
  height: 80vh;

}
