/*color palette*/

.white {
  color: white;
}

.peach {
  background-color: rgba(255, 187, 145, 0.2);
}

.teal {
  background-color: rgba(65, 178, 178, 0.2);
}

.gray {
  background-color: #ededed;
}

/*fonts that were used */

.quicksand {
  font-family: 'Quicksand', sans-serif;
}

.josefin_sans {
  font-family: 'Josefin Sans', sans-serif;
}

.josefin_slab {
  font-family: 'Josefin Slab', serif;
}
.poiret_one {
  font-family: 'Poiret One', cursive;
}

.sorts_mill_goudy {
  font-family: 'Sorts Mill Goudy', serif;
}

.reenie_beanie {
  font-family: 'Reenie Beanie', cursive;
  letter-spacing: .25em;
}

.nixie_one {
  font-family: 'Nixie One', cursive;
}

/*images*/
.lead_photo {
  height: 100vh;
  width: 100vw;
  margin-bottom: 20px;
  background-size: 100%;
  z-index: -1;
  background: url("../img/pexels-photo-872930.jpeg") no-repeat center center;
}

/*individual adjustments*/

.low_center {
  padding-top: 10%;
  padding-bottom: auto;
}

.wide {
  width: 100vw;
}

.vertical_white_space {
  margin-top: 2vh;
}

.card_block {
  max-width: 100%;
  height: auto;
  max-height: 499.3px;
  margin-bottom: 20px;
}

.lower_gap {
  margin-bottom: 30px;
}

.align_right {
  text-align: right;
}

.align_center {
  text-align: center;
}

.align_left {
  text-align: left;
}

.vertical_padding {
  padding: 0vw 20vw 10vw 20vw;
  margin-bottom: 20vh;
  margin-right: -20vw;
  margin-left: -20vw;
}

.vertical_padding_melissa {
  padding: 10vh 20vw 10vh 20vw;
  width: 100%;
}

.empty_padding_melissa {
  height: 5vw;
}

.light_line_spacing {
  line-height: 2em;
}

/*The title bars are id's instead of classes because the CSS was getting over-ridden and I needed to raise the importance level*/
#title_bar_private {
  margin: 10% 0 0% 0;
  padding: 5vh;
  overflow: hidden;
}

#title_bar_space {
  margin: 10% 0% 10% 0%;
  padding: 5vh;
  overflow: hidden;
}

.float_left {
  float: left;
  break-after: right;
  margin: 10px 50px 10px 10px;
}

.services_title {
  font-size: 220px;
  text-decoration: underline;
  font-weight: bolder;
  /*allows clipping*/
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /*background*/
  background-image: url("../img/sensual-sexy-glamur-fashion-60708-medium.jpeg");
  /*fallback if browser doesn't work*/
  color: black;
  /*makes the picture in the background fixed*/
  background-attachment: fixed;
  font-weight: 900;
}

#nav.shrink {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}
.circular_image {
    width: 32%;
    height: 32%;
    border-radius: 50%;
    display: block;
    padding: .5em 1em 1em 0;
    margin: 0 4em 4em 0;
}
.square {
    width: 61vw;
    height: 70vh;
    background: white;
    padding: 18px 60px 18px 60px;
    margin: 0;
    border-radius: 2%;
    margin-left: auto;
    margin-right: auto;
}
.vertical_padding_melissa {
    transition-duration: 0.5s;
    transition-timing-function: ease;
    background: #026EAD;
}
/* .vertical_padding_melissa:hover {
    background: #026EAD;
    transition-duration: 0.5s;
    transition-timing-function: ease;
} */
.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid white;
  margin-left: 26vw;
  z-index: -1;
}

.instructor_margin {
  margin: 5% 0 15% 0
}

.background_cover {
  width: 110%;
}

.normalize {
  margin: 0;
  border: 0;
}

.line_separator {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height:1px;
  background:#717171;
  border-bottom:1px solid #313030;`
}

.line_separator_bottom {
  width: 140%;
  margin-left: -20%;
  margin-right: auto;
  height:1px;
  background:#717171;
  border-bottom:1px solid #313030;`
}

/*adds whitespace in gutter for columns*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 50px;
    padding-left: 50px;
}

/*change the button default color*/

btn-primary {
    color: #fff;
    background-color: #026EAD;
    border-color: #026EAD;
}
._2tga {
    color: #fff;
    background-color: #02AD90;
    border-color: #02AD90;
}
h2 {
    text-align: left;
    font-size: 2em;
    color: #b5b5b5;
    text-transform: uppercase;
    letter-spacing: 1%;
    margin: 0;
}

b, strong {
    font-weight: bold;
    color: #02AD90;
}
ul {
  list-style: none;
}

ul li p {
    font-size: 18px;
    display: inline-block;
    vertical-align: bottom;
    /* color: #023DA3; */
}
ul .arrow {
  background-color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
ul .arrow:hover {
    background-color: #b5b5b5;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    /* color: #023DA3; */
}
ul .arrow p:hover {
    color: white;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    /* color: #023DA3; */
}

ul .arrow p strong:hover {
  color: white;
  transition-duration: 0.5s;
    transition-timing-function: ease;
}
ul li p strong {
    font-size: 18px;
    display: inline-block;
    vertical-align: bottom;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    text-transform: uppercase;
}

.isolate-last-line {
  line-height: 3em;
}

ul > li > .fa {
  font-size: 2.5em;
  padding: 5px;
}

.fa-arrow-circle-right {
  color: #02AD90;
  font-size: 5em;
}

.arrow {
    width: 639px;
    margin: 0;
    display: inline-block;
}

.title-row {
    width: 100%;
    padding-left: 20px;
}
.title-row h2 {
    text-align: left;
    font-size: 6em;
    color: #b5b5b5;
    text-transform: uppercase;
    letter-spacing: 1%;
    margin: 42px 0 0 0;
}
.long-row {
    width: 510px;
    height: auto;
    display: inline-block;
    vertical-align: text-top;
}
#footer-container {
  background-color: #b5b5b5;
  width:100%;
  margin: 0;
  padding: 0;
  border: 0;
  height: 80vh;
}
.mapspacing {
  min-height: 120px;
}
h4, .h4 {
    font-size: 18px;
    color: #026ead;
}

@media (max-width: 13000px) {
  .square {
    width: 61vw;
    height: 76vh;
    background: white;
    padding: 18px 60px 18px 60px;
    margin: 0;
    border-radius: 2%;
    margin-left: auto;
    margin-right: auto;
}
.long-row {
    width: 545px;
    height: auto;
    display: inline-block;
    vertical-align: text-top;
}
  .title-row h2 {
    text-align: left;
    font-size: 5em;
    color: #b5b5b5;
    text-transform: uppercase;
    letter-spacing: 1%;
    margin: 42px 0 0 0;
  }
  .arrow {
    width: 60%;
    margin: 0;
    display: inline-block;
  }
  ul li p {
    font-size: 14px;
    display: inline-block;
    vertical-align: bottom;
  }
  ul li p strong {
    font-size: 15px;
    display: inline-block;
    vertical-align: bottom;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    text-transform: uppercase;
}

  p {
    margin: 0 0 15px;
  }
  p .long-row {
    width: 372px;
    height: auto;
    display: inline-block;
    vertical-align: text-top;
  }
  .circular_image {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    display: block;
    padding: .5em 1em 1em 0;
    margin: 0 1em 1em 0;
  }
  #hide {
    display:none;
  }
  /* #widen-arrow {
    width: 600px;
  }
  #widen-arrow2 {
    width: 540px;
  } */
  strong {
    color: black;
  }
}

.card-container {
  width: 55vw;
}
.card {
  margin-top: 50px;
}
.basic {
  margin-right: 29.5%;
}

.intermediate {
  margin-right: 25%;
}
.advanced {
  margin-right: 0%;
}
.card-body {
  background-color: #C0C0C0;
  padding: 20px;
  color: white;
  line-height: 25px;
}

#basic[aria-expanded="true"] ~ div#square.square {
  background: red;
}

#cardbody1 {
  -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
    transition-timing-function: ease-in;
    transition-delay: 1s;
    margin-bottom: 10px;

}

#card-border {
  padding-bottom: 40px;
}

.card-border {
  -webkit-box-shadow: 0px -1px 17px -2px rgba(128,126,128,1);
  -moz-box-shadow: 0px -1px 17px -2px rgba(128,126,128,1);
  box-shadow: 0px -1px 17px -2px rgba(128,126,128,1);
}
