/*color palette*/

.white {
  color: white;
}

.peach {
  background-color: rgba(255, 187, 145, 0.2);
}

.teal {
  background-color: rgba(65, 178, 178, 0.2);
}

.gray {
  background-color: #ededed;
}

/*fonts that were used */

.quicksand {
  font-family: 'Quicksand', sans-serif;
}

.josefin_sans {
  font-family: 'Josefin Sans', sans-serif;
}

.josefin_slab {
  font-family: 'Josefin Slab', serif;
}
.poiret_one {
  font-family: 'Poiret One', cursive;
}

.sorts_mill_goudy {
  font-family: 'Sorts Mill Goudy', serif;
}

.reenie_beanie {
  font-family: 'Reenie Beanie', cursive;
  letter-spacing: .25em;
}

.nixie_one {
  font-family: 'Nixie One', cursive;
}

/*images*/
.lead_photo {
  height: 100vh;
  width: 100vw;
  margin-bottom: 20px;
  background-size: 100%;
  z-index: -1;
  background: url("../img/pexels-photo-872930.jpeg") no-repeat center center;
}

/*individual adjustments*/

.low_center {
  padding-top: 10%;
  padding-bottom: auto;
}

.wide {
  width: 100vw;
}

.vertical_white_space {
  margin-top: 2vh;
}

.card_block {
  max-width: 100%;
  height: auto;
  max-height: 499.3px;
  margin-bottom: 20px;
}

.lower_gap {
  margin-bottom: 30px;
}

.align_right {
  text-align: right;
}

.align_center {
  text-align: center;
}

.align_left {
  text-align: left;
}

.vertical_padding {
  padding: 0vw 20vw 10vw 20vw;
  margin-bottom: 20vh;
  margin-right: -20vw;
  margin-left: -20vw;
}

.vertical_padding_melissa {
  padding: 30vh 20vw 25vw 20vw;
  width: 100%;
}

.light_line_spacing {
  line-height: 2em;
}

/*The title bars are id's instead of classes because the CSS was getting over-ridden and I needed to raise the importance level*/
#title_bar_private {
  margin: 10% 0 0% 0;
  padding: 5vh;
  overflow: hidden;
}

#title_bar_space {
  margin: 10% 0% 10% 0%;
  padding: 5vh;
  overflow: hidden;
}

#title_bar_services {
  margin: 10% 0% 10% -1.5%;
  padding: 5vh;
  overflow: hidden;
}

.float_left {
  float: left;
  break-after: right;
  margin: 10px 50px 10px 10px;
}

.services_title {
  font-size: 250px;
  text-decoration: underline;
  font-weight: bolder;
  /*allows clipping*/
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /*background*/
  background-image: url("../img/sensual-sexy-glamur-fashion-60708-medium.jpeg");
  /*fallback if browser doesn't work*/
  color: black;
  /*makes the picture in the background fixed*/
  background-attachment: fixed;
}

#nav.shrink {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.circular_image {
  width: 32%;
  height: 32%;
  border-radius: 50%;
  display: block;
  padding: .5em 1em 1em 1em;
  margin: 2em;
}

.square {
  width: 33vw;
  height: 50vh;
  background: white;
  padding: 18px 60px 5px 60px;
  margin: 0;
  border-radius: 2%;
  margin-left: 22vw;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid white;
  margin-left: 26vw;
  z-index: -1;
}

.instructor_margin {
  margin: 5% 0 15% 0
}

.background_cover {
  width: 110%;
}
